/* Font Styles */
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/architectsdaughter/v18/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Gentium Plus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gentiumplus/v1/Iurd6Ytw-oSPaZ00r2bNe8VZi5FN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Shadows Into Light Two';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shadowsintolighttwo/v13/4iC86LVlZsRSjQhpWGedwyOoW-0A6_kpsyNmpAzHGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Styles */
html {
    font-family: "Gentium Plus", sans-serif;
    font-size: 16px;
}
  
.main-content {
    position: relative;
    margin: 0 auto;
    top: 5.3125rem; /* To offset for fixed header. */
}

#portfolio-section, #photographer-section, #quotes-section, footer {
  top: 5rem;
}

#about-section {
  top: 3.5rem;
}

.center {
    text-align: center;
}
  
.image-container {
    overflow: hidden;
    max-width: 100%;
}
  
.image-container img {
    display: block;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.quote {
  font-family: 'Shadows Into Light Two', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
}

/* Laptop */
@media only screen and (max-width: 1400px) {
  #portfolio-section, #photographer-section, #quotes-section, footer {
    top: 2rem;
  }
  
  #about-section {
    top: 1.8rem;
  } 
}

@media only screen and (max-width: 1200px) {
  #portfolio-section, #photographer-section, #quotes-section, footer {
    top: 0.5rem;
  }
  
  #about-section {
    top: 0.3rem;
  } 
}

/* Tablet Landscape */
@media only screen and (max-width: 1000px) {
  #portfolio-section, #photographer-section, #quotes-section, footer {
    top: 0;
  }
  
  #about-section {
    top: -0.5rem;
  } 
}

@media only screen and (max-width: 900px) {
  #about-section {
    top: -1rem;
  } 
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
  }
}

/* Header */

header {
    position: fixed;
    width: 99%;
    border-bottom: solid 1px black;
    background-color: black;
    z-index: 1;
}
  
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
  
header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  font-size: 3.8rem;
  font-weight: lighter;
  width: 40%;
  color: whitesmoke;
}

header .logo img {
  height: 8rem;
}

header nav ul {
  display: flex;
  margin: 0 0.5rem;
}
  
nav li {
  padding-left: 2rem;
  display: inline-block;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 2.3rem;
  color: antiquewhite;
}

nav a:hover {
  color: darkviolet;
  font-size: 1.8rem;
}

nav a:visited    {
  color: lavender;
}

#img2, header .mobile, .companylogo {
  display: none;
}

/* Laptop */
@media only screen and (max-width: 1400px) {
  header {
    width: 98.8%;
  }

  header .logo, header .logo img {
    font-size: 3.4rem;
    height: 6rem;
  }

  nav a {
    font-size: 2.1rem;
  }

  nav a:hover {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  header {
    width: 98.6%;
  }

  header .logo, header .logo img {
    font-size: 2.9rem;
    height: 4.5rem;
  }

  nav a {
    font-size: 1.7rem;
  }

  nav a:hover {
    font-size: 1.1rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1000px) {
  header .logo, header .logo img {
    font-size: 2.6rem;
    height: 3.8rem;
  }

  nav a {
    font-size: 1.4rem;
  }

  nav a:hover {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 960px) {
  header .logo {
    font-size: 2.5rem;
  }

  nav a {
    font-size: 1.3rem;
  }

  nav a:hover {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 940px) {
  header .logo {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 920px) {
  nav a {
    font-size: 1.2rem;
  }

  nav a:hover {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 900px) {
  header {
    width: 96%;
  }

  header .logo, header .logo img {
    font-size: 2.4rem;
    height: 3.3rem;
  }
}

@media only screen and (max-width: 880px) {
  header {
    width: 94.8%;
  }

  header .logo {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 860px) {
  header {
    width: 93.8%;
  }

  nav a {
    font-size: 1.1rem;
  }

  nav a:hover {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 840px) {
  header {
    width: 92.5%;
  }

  header .logo {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 820px) {
  header {
    width: 90.5%;
  }

  header .logo {
    font-size: 2.1rem;
  }

  nav a {
    font-size: 1rem;
  }

  nav a:hover {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 800px) {
  header .logo {
    display: none;
  }

  header {
    width: 98%;
  }

  #img2 {
    display: block;
    height: 4rem;
  }

  .desktop {
    width: 100%;
  }

  nav a {
    font-size: 1.5rem;
  }

  nav a:hover {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 780px) {
  nav a {
    font-size: 1.39rem;
  }

  nav a:hover {
    font-size: 1.49rem;
  }
}

/* Tablet */
@media only screen and (max-width: 740px) {
  nav a {
    font-size: 1.34rem;
  }

  nav a:hover {
    font-size: 1.44rem;
  }
}

@media only screen and (max-width: 720px) {
  nav a {
    font-size: 1.26rem;
  }

  nav a:hover {
    font-size: 1.36rem;
  }
}

@media only screen and (max-width: 700px) {
  header {
    width: 97.5%;
  }

  #img2 {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 680px) {
  header {
    width: 96%;
  }

  nav a {
    font-size: 1.2rem;
  }

  nav a:hover {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 660px) {
  header {
    width: 94%;
  }

  nav a {
    font-size: 1.11rem;
  }

  nav a:hover {
    font-size: 1.21rem;
  }
}

@media only screen and (max-width: 640px) {
  header {
    width: 93%;
  }

  nav a {
    font-size: 1.05rem;
  }

  nav a:hover {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 620px) {
  header {
    width: 91%;
  }

  nav a {
    font-size: 0.97rem;
  }

  nav a:hover {
    font-size: 1.07rem;
  }
}

@media only screen and (max-width: 600px) {
  .desktop, #img2 {
    display: none;
  }

  header {
    width: 97.5%;
  }

  button {
    background-color: black;
  }

  #menuButton, #img3 {
    cursor: pointer;
    margin: 0.5rem;
  }

  #menuButton img, #img3 {
    height: 3.5rem;
  }

  header .content {
    padding: 0;
  }

  .companylogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile {
    position: absolute;
    background-color: rgba(67,78,94, 0.98);
    overflow: auto;
    z-index: 1;
    top: 5rem;
    width: 100%;
  }

  .companylogo:hover .mobile {
    display: block;
  }
  
  .mobile a {
    display: block;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid whitesmoke;  
  }
}

@media only screen and (max-width: 500px) {
  header {
    width: 97%;
  }
}

@media only screen and (max-width: 400px) {
  header {
    width: 96%;
  }
}

@media only screen and (max-width: 300px) {
  header {
    width: 95%;
  }
}

/* About Section */
#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1483932981361-26ddd9a5d30a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 100%;
}
  
#about-section .center {
  padding: 0 5rem 2.5rem 5rem;
  margin: 4rem auto;
}

#about-section .quote {
  letter-spacing: 0.15rem;
  padding: 0 0.5rem;
}
  
#about-section span {
  font-size: 1.8rem;
}

.list ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 1rem 0.5rem;
  padding: 1rem 0;
}
  
.list li {
  width: 12rem;
  height:10rem;
  padding: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  background-color: whitesmoke;
}
/* Tablet */
@media only screen and (max-width: 900px) {
  .list li {
    margin: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  #about-section .quote, #about-section span, .list li {
    font-size: 1.2rem;
  }

  .list li {
    width: 7rem;
    height:5rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .list ul {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }  
  
  .list li {
    width: 10rem;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 520px) {
  #about-section .center {
    padding: 0 0.5rem;
    width: 75%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  #about-section .center {
    width: 80%;
  }
}

@media only screen and (max-width: 460px) {
  #about-section .center {
    width: 85%;
  }
}

@media only screen and (max-width: 420px) {
  #about-section .center {
    width: 90%;
  }

  #about-section .quote {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  #about-section .center {
    width: 100%;
  }
}

/* Portfolio Section */
#portfolio-section, .portfolio-box, #box1, #box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  background-color: #f3f3f3;
  padding: 1rem;
}

 #box1, #box2 {
  flex-direction: row;
}

#box1 .feature {
  height: 51rem;
}

#box2 .feature {
  height: 36rem;
}

#box3 {
  width: 80%;
}

.portfolio-box img {
  width: 100%;
}

.feature {
  flex: 1;
  padding: 2rem 0.5rem;
  margin: 1rem;
  background-color: white;
}
  
.feature .image-container {
  width: 90%;
  height: 65%;
  margin:0 auto;
  padding-bottom: 0.5rem;
}
  
.feature h2, .feature h3 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  color: #4a4a4a;
}
  
.feature h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

@media only screen and (max-width: 2000px) {
  #box1 .feature {
    height: 62rem;
  }
  
  #box2 .feature {
    height: 44rem;
  }
}

@media only screen and (max-width: 1800px) {
  #box1 .feature {
    height: 58rem;
  }
  
  #box2 .feature {
    height: 40rem;
  }
}

@media only screen and (max-width: 1600px) {
  #box1 .feature {
    height: 52rem;
  }
  
  #box2 .feature {
    height: 36rem;
  }
}

@media only screen and (max-width: 1400px) {
  #box1 .feature {
    height: 47rem;
  }
  
  #box2 .feature {
    height: 34rem;
  }
}

@media only screen and (max-width: 1200px) {
  #box1 .feature {
    height: 40rem;
  }
  
  #box2 .feature {
    height: 28rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1000px) {
  #box1 .feature {
    height: 39rem;
  }
  
  #box2 .feature {
    height: 26rem;
  }
}

@media only screen and (max-width: 960px) {
  #box1 .feature {
    height: 40rem;
  }
}

@media only screen and (max-width: 860px) {
  #box1 .feature {
    height: 38rem;
  }
}

@media only screen and (max-width: 800px) {
  #box1 .feature {
    max-height: 28rem;
  }
  
  #box2 .feature {
    max-height: 20rem;
  }

  .feature h2, .feature h3 {
    font-size: 1.7rem;
  }
    
  .feature h3 {
    font-size: 1.2rem;
  }
}

/* Tablet */
@media only screen and (max-width: 720px) {
  #box1 .feature {
    max-height: 27rem;
  }
  
  #box2 .feature {
    max-height: 19rem;
  }
}

@media only screen and (max-width: 700px) {
  #box1, #box2 {
    flex-direction: column;
  }

  #box1 .feature, #box2 .feature {
    max-height: fit-content;
  }
  
  #box1, #box2, #box3 {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  #box1, #box2, #box3 {
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .portfolio-box {
    padding: 0;
  }

  #box1, #box2, #box3 {
    width: 90%;
  }
}

/* Mobile */
@media only screen and (max-width: 400px) {
  #box1, #box2, #box3 {
    width: 95%;
  }
}

@media only screen and (max-width: 300px) {
  #box1, #box2, #box3 {
    width: 100%;
  }
}

/* Photographer Section */
#photographer-section, #photographer-section .center, #photographer-section .image-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
  
#photographer-section .center {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 .5rem;
  margin-bottom: 4rem;
  width: 99%;
}
  
#photographer-section .center div {
  margin: 1rem;
  padding: 1rem;
  width: 33%;
  font-size: 1.8rem;
}

#photographer-section img {
  width: 100%;
  border: 4px solid black;
}
  
#photographer-section .image-container {
  padding: 0 1%;
  flex-direction: row;
}

/* Laptop */
@media only screen and (max-width: 1200px) {
  #photographer-section .center div {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  #photographer-section .center {
    margin-bottom: 1rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 900px) {
  #photographer-section .center div {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 800px) {
  #photographer-section .center div {
    font-size: 1.1rem;
  }
}

/* Tablet */
@media only screen and (max-width: 700px) {
  #photographer-section .center {
    flex-direction: column;
  }
  
  #photographer-section .center div {
    font-size: 1.3rem;
    margin: 0;
    width: 50%;
  }

  #photographer-section img {
    height: 16rem;
    width: 16rem;
  }
}

@media only screen and (max-width: 500px) {
  #photographer-section .center div {
    width: 80%;
  }
}

/* Mobile */
@media only screen and (max-width: 400px) {
  #photographer-section .center div {
    font-size: 1.2rem;
    width: 90%;
  }

  #photographer-section img {
    height: 14.5rem;
    width: 14.5rem;
  }
}

@media only screen and (max-width: 300px) {
  #photographer-section img {
    height: 12rem;
    width: 12rem;
  }
}
  
/* Quotes Section */
#quotes-section {
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
#quotes-section .content {
  padding: 1rem;
}
  
#quotes-section .quote {
  line-height: 1.1;
  letter-spacing: 0.3rem;
  color: #4a4a4a;
}
  
#quotes-section .quote-citation {
  height: 7rem;
}

/* Laptop */
@media only screen and (max-width: 1200px) {
  #quotes-section .quote {
    font-size: 1.3rem;
  }
  
  #quotes-section .quote-citation {
    height: 5.5rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1000px) {
  #quotes-section .quote {
    font-size: 1rem;
  }
  
  #quotes-section .quote-citation {
    height: 4rem;
  }
}

@media only screen and (max-width: 860px) {
  #quotes-section .quote {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 840px) {
  #quotes-section .quote {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 800px) {
  #quotes-section .quote {
    font-size: 0.7rem;
  }
  
  #quotes-section .quote-citation {
    height: 3rem;
  }
}

/* Tablet */
@media only screen and (max-width: 720px) {
  #quotes-section .quote {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (max-width: 700px) {  
  #quotes-section .quote-citation {
    height: 2.3rem;
  }
}

@media only screen and (max-width: 580px) {  
  #quotes-section .quote {
    font-size: 0.86rem;
  }
}

@media only screen and (max-width: 560px) {  
  #quotes-section .quote {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 540px) {  
  #quotes-section .quote {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 520px) {  
  #quotes-section .quote {
    font-size: 0.69rem;
  }
}

@media only screen and (max-width: 500px) {
  #quotes-section .quote-citation {
    height: 2rem;
  }

  #quotes-section .quote {
    font-size: 0.67rem;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {  
  #quotes-section .quote {
    font-size: 0.61rem;
  }
}

@media only screen and (max-width: 460px) {  
  #quotes-section .quote {
    font-size: 0.56rem;
  }
}

@media only screen and (max-width: 440px) {  
  #quotes-section .quote {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 420px) {  
  #quotes-section .quote {
    font-size: 0.45rem;
  }
}

@media only screen and (max-width: 400px) {
  #quotes-section {
    justify-content: center;
  }
  
  #quotes-section .quote {
    font-size: 0.6rem;
  }

  #quotes-section .content {
    padding: 0.5rem 0;
  }
  
  #quotes-section .quote-citation {
    display: none;
  }
}

@media only screen and (max-width: 380px) {  
  #quotes-section .quote {
    font-size: 0.55rem;
  }
}

@media only screen and (max-width: 360px) {  
  #quotes-section .quote {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 340px) {  
  #quotes-section .quote {
    font-size: 0.44rem;
  }
}

@media only screen and (max-width: 320px) {  
  #quotes-section .quote {
    font-size: 0.38rem;
  }
}

@media only screen and (max-width: 300px) {
  #quotes-section .quote {
    font-size: 0.4rem;
  }
}

/* Footer Section*/
footer, .contact-list, #emailBox {
  background-color: #9b9b9b;
  padding: 0 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
footer .copyright {
  color: black;
  display: flex;
  font-size: 1.5rem;
  font-weight: bolder ;
  flex-grow: 1;
}
  
.contact-list, #emailBox {
  padding: 0;
  margin: 1rem 0.5rem;
}

#emailBox {
  margin: 0;
}
  
.contact-list img {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  margin-right: 1rem;
}

#emailPic {
  margin-right: 0;
  margin-bottom: 0.4rem;
}

#emailBox .btn {
  background-color: #9b9b9b;
  border: none;
  cursor: pointer;
}

/* Laptop */
@media only screen and (max-width: 1200px) {
  footer .copyright {
    font-size: 1.2rem;
  }

  .contact-list img {
    width: 2.8rem;
    height: 2.8rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1000px) {
  footer .copyright {
    font-size: 1rem;
  }

  .contact-list img {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media only screen and (max-width: 800px) {
  footer .copyright {
    font-size: 0.9rem;
  }

  .contact-list img {
    width: 2rem;
    height: 2rem;
  }
}

/* Tablet */
@media only screen and (max-width: 700px) {
  .contact-list img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media only screen and (max-width: 580px) {
  footer .copyright {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 540px) {
  footer .copyright {
    font-size: 0.75rem;
  }
}

/* Mobile */
@media only screen and (max-width: 440px) {
  footer .copyright {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 400px) {
  footer .copyright {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 360px) {
  footer .copyright {
    font-size: 0.6rem;
  }

  .contact-list img {
    width: 1rem;
    height: 1rem;
  }

  #emailPic {
    margin-bottom: 0.3rem;
  }
}

@media only screen and (max-width: 320px) {
  footer .copyright {
    font-size: 0.55rem;
  }

  .contact-list img {
    width: 0.9rem;
    height: 0.9rem;
  }

  #emailPic {
    margin-bottom: 0.2rem;
  }
}